<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBCRIPTION FORM</h3>
      <p class="m-auto subs-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nihil
        laborum hic nulla quae vel ab temporibus, consequatur non, reprehenderit
        dolore commodi facere dolorum porro sapiente. Enim architecto dicta nam?
      </p>

      <div *ngIf="isEmailError" class="alert alert-danger mt-3">
        Email is already in use
      </div>

      <div *ngIf="isSubcribed" class="alert alert-info mt-3">
        Thank you for subcribing to our blog
      </div>

      <form
        action=""
        class="form-inline mb-5"
        #subForm="ngForm"
        (ngSubmit)="onSubmit(subForm.value)"
        *ngIf="!isSubcribed"
      >
        <div class="form-group col-md-5">
          <input
            type="text"
            class="form-control"
            placeholder="Your Name"
            name="name"
            #Name="ngModel"
            ngModel
            required
            [ngClass]="{ 'is-invalid': Name.touched && Name.invalid }"
          />

          <div class="text-danger" *ngIf="Name.touched && Name.invalid">
            <div *ngIf="Name.errors?.required">Name is required</div>
          </div>
        </div>
        <div class="form-group col-md-5">
          <input
            type="email"
            class="form-control"
            placeholder="Email Address"
            name="email"
            #Email="ngModel"
            ngModel
            required
            email
            [ngClass]="{ 'is-invalid': Name.touched && Name.invalid }"
          />

          <div class="text-danger" *ngIf="Email.touched && Email.invalid">
            <div *ngIf="Email.errors?.required">Email is required</div>
            <div *ngIf="Email.errors?.email">Please enter a valid email</div>
          </div>
        </div>
        <div class="col-md-2">
          <button
            class="btn btn-info btn-block btn-sub btn-theme"
            [disabled]="subForm.invalid"
          >
            SUBSCRIBE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
