.featured-section{
    padding: 130px;
    padding-top: 0;
    background-color: var(--primary-color);
}
.featured-item{
    margin: 1rem 0;
}
@media(max-width: 576px){
    .featured-section{
        padding: 0;
    }
}